.dialogs {
    display: grid;
    grid-template-columns: 260px auto;
    grid-column-gap: 30px;
}

.add_msg {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.textarea {
    margin-bottom: 15px;
}